/**
 * Product
 * Author: 柏 81962601
 * Create Date:2017/8/7 0007 10:44
 * Last Mondify Date:2017/8/7 0007 10:44
 */
.template-header {
  text-align: center;
  height: 0.2rem;
  line-height: 0.2rem;
  background: #0a8fef;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
}
.template-main {
  text-align: center;
  height: 0.5rem;
  line-height: 0.5rem;
  background: #0a8fef;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
}
.template-footer {
  text-align: center;
  height: 0.2rem;
  line-height: 0.2rem;
  background: #0a8fef;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
}
